<div class="hard front"></div>
<div class="hard front">
	<div class="endpaper"></div>
</div>

{{#each pages}}
<div class="page">
	
	{{#if type0 }}
	<div class="inner type0">
		
		<video src="css/assets/video/{{video}}" autoplay loop="loop"></video>
		<p>{{{p}}}</p>
	{{/if}}

	{{#if type1 }}
	<div class="inner type1">
		
		{{#if h}}
		
		<h2>{{h}}</h2>

		{{/if}}

		<p>{{{p}}}</p>
		<video src="css/assets/video/{{video}}" autoplay loop="loop"></video>
	{{/if}}

	{{#if type2 }}
	<div class="inner type2">
		{{#if h}}
		
		<h2>{{h}}</h2>

		{{/if}}

		<p>{{{p}}}</p>
	{{/if}}

	{{#if type3 }}
	<div class="inner type3">
		<div id="game-status">Початок гри</div>
		<div class="board-bg">
			<div id="board"></div>
		</div>
		<a id="game-reset">Розпочати заново</a>
	{{/if}}
	
	{{#if page}}	
		<p class="page-number">{{page}}</p>
	{{/if}}

	</div>
</div>
{{/each}}

<div class="hard back">
	<div class="endpaper"></div>
</div>
<div class="hard back"></div>



